html, body {
	background-color: #FFC400;
	margin: 0;
	height: 100%;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#content {
	display: inline-block;
	position: fixed;
	top: 0;
	bottom: 5.5em;
	left: 0;
	right: 0;
	width: 38em;
	height: 8em;
	margin: auto;
	background-image: url("../media/under_construction_content_bg.png");
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 3em;
	text-align: center;
}

h3 {
	font-family: 'Dosis', Arial, sans-serif;
	font-size: 140%;
	padding-top: 6.3em;
}

/*------------ Footer ----------*/
footer {
	width: 100%;
	height: 3.8em;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	background: #22201F;
	text-align: center;
	color: #BABABA;
	font-family: 'Dosis',sans-serif;
	font-size: 1.0em;
}

.foot_element {
	text-decoration: none;
	margin: 0.5em;
	color: #BABABA;
}

#foot_name {
	font-weight: bold;
	color: white;
	word-spacing: 0.3em;
	letter-spacing: 0.2em;
	margin: 1.3em;
	text-decoration: none;
}

#at_sign {
	font-size: 145%;
}


a:hover {
	color: #DFDFDF;
	text-shadow: white 0 0 0.5em;
}

a:active {
	color: #EF2520;
}
/*------------ Footer ----------*/
