/*
colours: red #ff5436, green #6ebf2e, grey #afafaf, orange #ff972a
adobe kuler: complementary: red ff5436 lightred ff6a4f green 02b267 lightgreen 36ffa9
*/

html body {
  padding: 0;
  margin: 0;
  font-family: 'Cabin', sans-serif;
  background-color: #ffd698;
}

.hidden { display: none; }

/*///////////////////////////// INTRO /////////////////////////////*/
#intro-wrapper {
  position: fixed;
  margin-top: -1em;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: slide 1.5s;
  -moz-animation: slide 1.5s;
  -o-animation: slide 1.5s;
  animation: slide 1.5s;
}
#intro {
  position: relative;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  height: 12em;
  width: 12em;
  z-index: 1;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s;
}
@-webkit-keyframes slide {
  0% { width: 50%; }
  100% { width: 100%; }
}
@-moz-keyframes slide {
  0% { width: 50%; }
  100% { width: 100%; }
}
@-o-keyframes slide {
  0% { width: 50%; }
  100% { width: 100%; }
}
@keyframes slide {
  0% { width: 50%; }
  100% { width: 100%; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.introAnimation {
  position: absolute;
}

#watermelon {
  width: 12em;
  height: 12em;
  border-radius: 50%;
  -webkit-animation: roll 1.5s;
  -moz-animation: roll 1.5s;
  -o-animation: roll 1.5s;
  animation: roll 1.5s;
}
@-webkit-keyframes roll {
  0% { -webkit-transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes roll {
  0% { -moz-transform: rotate(180deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-o-keyframes roll {
  0% { -o-transform: rotate(180deg); }
  100% { -o-transform: rotate(360deg); }
}
@keyframes roll {
  0% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}


#watermelon-front {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url("../media/watermelonoutside3.png");
  background-size: contain;
  z-index: 5;
}
#watermelon-front.introAnimate {
  -webkit-animation: frontFall 0.8s ease-in 1.9s;
  -moz-animation: frontFall 0.8s ease-in 1.9s;
  -o-animation: frontFall 0.8s ease-in 1.9s;
  animation: frontFall 0.8s ease-in 1.9s;
}

@-webkit-keyframes frontFall {
  0% { top: 0em; opacity: 1; transform: rotate(0deg) scale(1); }
  100% { top: 13em; opacity: 0; transform: rotate(45deg) scale(1.1); }
}
@-moz-keyframes frontFall {
  0% { top: 0em; opacity: 1; transform: rotate(0deg) scale(1); }
  100% { top: 13em; opacity: 0; transform: rotate(45deg) scale(1.1); }
}
@-o-keyframes frontFall {
  0% { top: 0em; opacity: 1; transform: rotate(0deg) scale(1); }
  100% { top: 13em; opacity: 0; transform: rotate(45deg) scale(1.1); }
}
@keyframes frontFall {
  0% { top: 0em; opacity: 1; transform: rotate(0deg) scale(1); }
  100% { top: 13em; opacity: 0; transform: rotate(45deg) scale(1.2); }
}

#watermelon-top {
  width: 100%;
  height: 50%;
  background-image: url("../media/watermeloninside2.png");
  background-size: cover;
  z-index: 2;
}
#watermelon-top.introAnimate {
  -webkit-animation: topFall 0.8s linear 3.6s;
  -moz-animation: topFall 0.8s linear 3.6s;
  -o-animation: topFall 0.8s linear 3.6s;
  animation: topFall 0.8s linear 3.6s;
}
@-webkit-keyframes topFall {
  0% { top: 0em; transform: scale(1); opacity: 1; }
  20% { transform: scale(0.85); }
  100% { top: 7em; transform: rotate(30deg) scale(0.8); opacity: 0; }
}
@-moz-keyframes topFall {
  0% { top: 0em; transform: scale(1); opacity: 1; }
  20% { transform: scale(0.85); }
  100% { top: 7em; transform: rotate(30deg) scale(0.8); opacity: 0; }
}
@-o-keyframes topFall {
  0% { top: 0em; transform: scale(1); opacity: 1; }
  20% { transform: scale(0.85); }
  100% { top: 7em; transform: rotate(30deg) scale(0.8); opacity: 0; }
}
@keyframes topFall {
  0% { top: 0em; transform: scale(1); opacity: 1; }
  20% { transform: scale(0.85); }
  100% { top: 7em; transform: rotate(30deg) scale(0.8); opacity: 0; }
}

#watermelon-bottom {
  top: 6em;
  width: 100%;
  height: 50%;
  z-index: 3;
  background-image: url("../media/watermeloninside2.png");
  background-size: cover;
  background-position: bottom;
}
#watermelon-bottom.introAnimate {
  -webkit-animation: bottomRise 1.7s ease-in-out 4.5s;
  -moz-animation: bottomRise 1.7s ease-in-out 4.5s;
  -o-animation: bottomRise 1.7s ease-in-out 4.5s;
  animation: bottomRise 1.7s ease-in-out 4.5s;
}
@-webkit-keyframes bottomRise {
  0% { top: 6em; }
  65% { top: -10em; opacity: 1;}
  100% { top: -10em; opacity: 0; }
}
@-moz-keyframes bottomRise {
  0% { top: 6em; }
  65% { top: -10em; opacity: 1;}
  100% { top: -10em; opacity: 0; }
}
@-o-keyframes bottomRise {
  0% { top: 6em; }
  65% { top: -10em; opacity: 1;}
  100% { top: -10em; opacity: 0; }
}
@keyframes bottomRise {
  0% { top: 6em; }
  65% { top: -10em; opacity: 1;}
  100% { top: -10em; opacity: 0; }
}

#knife {
  top: 13em;
  left: 14em;
  width: 11em;
  height: 1.5em;
  opacity: 0;
  z-index: 4;
}
#knife.introAnimate {
  -webkit-animation: knifeCut 4s;
  -moz-animation: knifeCut 4s;
  -o-animation: knifeCut 4s;
  animation: knifeCut 4s;
}

@-webkit-keyframes knifeCut {
  0% { transform: rotate(0deg); width: 11em; height: 1.5em;}
  2% { opacity: 1; }
  10% { transform: rotate(20deg); }
  30% { transform: rotate(760deg); left: 12em; }
  35% { top: 0em; transform: rotate(765deg); left: 5.5em; }
  40% { top: 0em; transform: rotate(766deg); }
  50% { top: 11em; transform: rotate(720deg); left: 5.5em; }
  58% { top: 11em; transform: rotate(720deg); width: 11em; height: 1.5em; left: 12em; }
  78% { top: 5.3em; transform: rotateX(75deg); width: 13em; height: 1.8em; }
  84% { width: 13em; height: 1.8em; left: 4.5em; }
  90% { opacity: 1; width: 8em; height: 1.2em; left: 5em; }
  100% { opacity: 0; width: 9em; height: 1.2em; top: 5.3em; transform: rotateX(75deg); }
}
@-moz-keyframes knifeCut {
  0% { transform: rotate(0deg); width: 11em; height: 1.5em;}
  2% { opacity: 1; }
  10% { transform: rotate(20deg); }
  30% { transform: rotate(760deg); left: 12em; }
  35% { top: 0em; transform: rotate(765deg); left: 5.5em; }
  40% { top: 0em; transform: rotate(766deg); }
  50% { top: 11em; transform: rotate(720deg); left: 5.5em; }
  58% { top: 11em; transform: rotate(720deg); width: 11em; height: 1.5em; left: 12em; }
  78% { top: 5.3em; transform: rotateX(75deg); width: 13em; height: 1.8em; }
  84% { width: 13em; height: 1.8em; left: 4.5em; }
  90% { opacity: 1; width: 8em; height: 1.2em; left: 5em; }
  100% { opacity: 0; width: 9em; height: 1.2em; top: 5.3em; transform: rotateX(75deg); }
}
@-o-keyframes knifeCut {
  0% { transform: rotate(0deg); width: 11em; height: 1.5em;}
  2% { opacity: 1; }
  10% { transform: rotate(20deg); }
  30% { transform: rotate(760deg); left: 12em; }
  35% { top: 0em; transform: rotate(765deg); left: 5.5em; }
  40% { top: 0em; transform: rotate(766deg); }
  50% { top: 11em; transform: rotate(720deg); left: 5.5em; }
  58% { top: 11em; transform: rotate(720deg); width: 11em; height: 1.5em; left: 12em; }
  78% { top: 5.3em; transform: rotateX(75deg); width: 13em; height: 1.8em; }
  84% { width: 13em; height: 1.8em; left: 4.5em; }
  90% { opacity: 1; width: 8em; height: 1.2em; left: 5em; }
  100% { opacity: 0; width: 9em; height: 1.2em; top: 5.3em; transform: rotateX(75deg); }
}
@keyframes knifeCut {
  0% { transform: rotate(0deg); width: 11em; height: 1.5em;}
  2% { opacity: 1; }
  10% { transform: rotate(20deg); }
  30% { transform: rotate(760deg); left: 12em; }
  35% { top: 0em; transform: rotate(765deg); left: 5.5em; }
  40% { top: 0em; transform: rotate(766deg); }
  50% { top: 11em; transform: rotate(720deg); left: 5.5em; }
  58% { top: 11em; transform: rotate(720deg); width: 11em; height: 1.5em; left: 12em; }
  78% { top: 5.3em; transform: rotateX(75deg); width: 13em; height: 1.8em; }
  84% { width: 13em; height: 1.8em; left: 4.5em; }
  90% { opacity: 1; width: 8em; height: 1.2em; left: 5em; }
  100% { opacity: 0; width: 9em; height: 1.2em; top: 5.3em; transform: rotateX(75deg); }
}

/*//////////////////////////// HEADER //////////////////////////////*/
header { position: fixed; padding: 0; width: 100%; margin-top: -1em;}

.main-menu {
  position: relative;
  margin-top: -6em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  overflow: hidden;
  transition: width 0.5s, height 0.5s, margin-top 0.5s;
}
.main-menu.small { font-size: 0.6em; }

.main-menu-slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  overflow: hidden;
  transform-origin: 100% 100%;
}

#slice-about {transform: rotate(270deg) skewY(30deg);}
#slice-projects {transform: rotate(210deg) skewY(30deg);}
#slice-contact {transform: rotate(150deg) skewY(30deg);}

.slice-content {
  position: absolute;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  color: white;
  font-size: 0.78em;
  text-align: center;
  transform: skewY(-30deg) rotate(-30deg);
  transition: width 0.5s, height 0.5s, background-color 0.5s, font-size 0.5s;
}
.slice-content h2 { transform: rotate(180deg); }

#slice-about-content {background-color: #fcab56;}
#slice-projects-content {background-color: #ffba71;}
#slice-contact-content {background-color: #fcc488;}
#slice-about-content:hover {
  background-color: #6ebf2e;
  transition: background-color 1s;
}
#slice-projects-content:hover {
  background-color: #6ebf2e;
  transition: background-color 1s;
}
#slice-contact-content:hover {
  background-color: #6ebf2e;
  transition: background-color 1s;
}

.slice-content:before {
  position: absolute;
  top: 22.5%;
  left: 22.5%;
  width: 55%;
  height: 55%;
  border-radius: 0%;
  background-position: 50% 0;
  background-color: #ff972a;
  content: '';
  z-index: -1;
  transition: top 0.6s, left 0.6s,
              width 0.6s, height 0.6s,
              border-radius 0.3s, background-color 0.8s;
}

.slice-content:hover::before{
  top: 6%;
  left: 6%;
  width: 88%;
  height: 88%;
  border-radius: 50%;
  background-color: #ff5436;
}
